@import "../../config";

/*#region Desktop*/
.pageSodaDt {
  @include flexRowRelative;
  height: 1024px;
  width: 1024px;
  overflow: hidden !important;
}
/*#endregion Desktop*/

.testFonts {
  display: flex;
  flex-direction: row;
  height: 100vh !important;
  width: 100vw !important;
  justify-content: center !important;
  justify-items: center !important;
  align-items: center !important;
  align-content: center !important;
  font-family: "Chalk cyrillic freehand", sans-serif;
  font-size: 72px;
  color: white;
}