@import "shared/config";

.pageHome {
  @include flexRowRelative;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.testFonts {
  display: flex;
  flex-direction: row;
  height: 400px !important;
  width: 100vw !important;
  justify-content: center !important;
  align-items: center !important;
  font-family: "Chalk cyrillic freehand", sans-serif;
  font-size: 72px;
  color: white;
}